@model IEnumerable<Enversoft.Models.Supplier>

<form asp-action="Search" method="get">
    <div class="d-flex h-100 align-items-center justify-content-center">
    <div class="w-75 bg-opacity-25 bg-light p-4 mt-5">
    <div class="form-group mt-5 text-center mt-5">
        <h1 for="searchString">Suppliers </b> on the go</h1>
        <p>Enter a supplier's name to see their telephone number</p>
        <div class="d-flex flex-row mt-5">
            <input type="text" class="form-control me-2" id="searchString" name="searchString">
            <button type="submit" style="width: 30%"class="btn btn-secondary">Search</button>
        </div>
        
    </div>
   
</form>

<table class="table">

    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <div class="text-center mt-5">
                    <h1>@supplier.TelelphoneNo</h1>
              </div>
             
               
            </tr>
        }
    </tbody>
</table>
</div>
</div>
</div>


