@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5  bg-opacity-50 bg-light p-5">
    <h1 class="display-4">Welcome</h1>
    <p>Supplier Connect is Supplier management system <br />that makes use on API to view, create and search by name to retrieve a Suppliers's telephone number</a>.</p>
    <p>It is a restful API is consumed via a MVP web application</p>

    <div class="d-flex justify-content-center mb-3">
        <a class="btn btn-secondary" asp-controller="Supplier" asp-action="Index"> Get Started</a>
    </div>
</div>
